.event {
    border: 2px solid var(--primary);
    padding: 20px;
    margin-bottom: 10px;
}

.event-link:hover {
    text-decoration: none;
}

.event-subtitle {
    color: #000;
    margin-bottom: 8px;
}